@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-Red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-White: hsl(0, 0%, 94%);
    --Light-Grey: hsl(0, 0%, 86%);
    --Smokey-Grey: hsl(0, 1%, 44%);
    --Off-Black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: var(--Off-White);
    display: flex;
    justify-content: center;
    align-items: center;
}

.age-calculator {
    width: 840px;
    height: 650px;
    background-color: var(--White);
    border-radius: 20px 20px 200px 20px;
    padding: 55px;
}

.date-inputs {
    display: flex;
    gap: 33px;
}

.date-inputs label  {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-transform: uppercase;
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
}

.date-inputs label input {
    margin-top: 10px;
    height: 72px;
    padding-left: 23px;
    font-size: 2rem;
    font-weight: 800;
    border: 1px solid var(--Light-Grey);
    border-radius: 10px;    
}

.divider {
    margin-top:48px;
}

.divider .divider-line {
    display: block;
    margin-top: 10px;
    width: 93%;
    height: 1px;
    background-color: var(--Light-Grey);
}

.divider .calculator-button {
    position: relative;
    left: calc(100% - 96px);
    bottom: 74px;
    border: none;
    z-index: 999;
    background-color: var(--Purple);
    width: 95px;
    height: 95px;
    border-radius: 100px;
}

.divider .calculator-button:hover {
    cursor: pointer;
}

.divider .calculator-button:active {
    background-color: var(--Off-Black);
}

.results {
    font-size: 6.5rem;
    position: relative;
    font-weight: 800;
    font-style: italic;
    bottom: 74px;
    line-height: 7.1rem;
    letter-spacing: -0.1rem;
}


.years-results, .months-results, .days-results {
    letter-spacing: 1.0625rem;
    margin-right: -10px;
    color: var(--Purple);
}

.date-inputs label input:focus::placeholder {
    color: transparent;
}

.date-inputs label input:focus {
    border: 1px solid var(--Purple);
    outline: none;
    caret-color: var(--Purple);
}




