@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-Red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-White: hsl(0, 0%, 94%);
    --Light-Grey: hsl(0, 0%, 86%);
    --Smokey-Grey: hsl(0, 1%, 44%);
    --Off-Black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: var(--Off-White);
    display: flex;
    justify-content: center;
    align-items: center;
}

.age-calculator {
    width: 840px;
    height: 650px;
    background-color: var(--White);
    border-radius: 20px 20px 200px 20px;
    padding: 55px;
}

.date-inputs {
    display: flex;
    gap: 33px;
}

.date-inputs label  {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-transform: uppercase;
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
}

.date-inputs label input {
    margin-top: 10px;
    height: 72px;
    padding-left: 23px;
    font-size: 2rem;
    font-weight: 800;
    border: 1px solid var(--Light-Grey);
    border-radius: 10px;    
}


.on-error {
    height: 680px;
}

.on-error .date-inputs label, .on-error .date-inputs label input {
    color: var(--Light-Red);
}

.on-error .date-inputs label input {
    border: 1px solid var(--Light-Red);
}

.errors-section {
    display: none;
}

.on-error .errors-section {
    display: flex;
    gap: 33px;
    margin-top: 9px;
    font-size: 0.88rem;
    font-weight: 400;
    font-style: italic;
}

.error-warner {
    color: var(--Light-Red);
    width: 160px;
    
}

.divider {
    margin-top:48px;
}

.divider .divider-line {
    display: block;
    margin-top: 10px;
    width: 93%;
    height: 1px;
    background-color: var(--Light-Grey);
}

.divider .calculator-button {
    position: relative;
    left: calc(100% - 96px);
    bottom: 74px;
    border: none;
    z-index: 999;
    background-color: var(--Purple);
    width: 95px;
    height: 95px;
    border-radius: 100px;
}

.divider .calculator-button:hover {
    cursor: pointer;
}

.divider .calculator-button:active {
    background-color: var(--Off-Black);
}

.results {
    font-size: 6.5rem;
    position: relative;
    font-weight: 800;
    font-style: italic;
    bottom: 74px;
    line-height: 7.1rem;
    letter-spacing: -0.1rem;
}


.years-results, .months-results, .days-results {
    letter-spacing: 0rem;
    margin-right: 7px;
    color: var(--Purple);
}

.date-inputs label input:focus::placeholder {
    color: transparent;
}

.date-inputs label input:focus {
    border: 1px solid var(--Purple);
    outline: none;
    caret-color: var(--Purple);
}

@media (max-width: 900px) {
    
    .age-calculator {
        width: 90%;
        height: 490px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px 20px 100px 20px;
    }

    .date-inputs {
        width: 100%;
        justify-content: center;
        gap: 15px;
        margin-top: 26px;
    }

    .date-inputs label {
        width: 26%;
        letter-spacing: 0.1rem;
    }

    .date-inputs label input {
        font-size: 1.5rem;
        position: relative;
        top: -5px;
        padding-left: 0.9rem;
        font-weight: 700;
    }

    .date-inputs label input::placeholder {
        color: transparent;
    }

    .on-error .errors-section {
        justify-content: center;
        width: 100%;
        gap: 15px;
        font-size: 0.487rem;
    }
    
    .error-warner {
        width: 26%;        
    }
    

    .results {
        width: 100%;
        margin: 0;
        border: 0;
        font-size: 3.4rem;
        line-height: 3rem;
        position: relative;
        left: 20px;
    }

    .results div span {
        margin-right: 10px;
    }
    

    .date-inputs label  {
        font-weight: 800;
        color: var(--Smokey-Grey);
        font-size: 0.8rem;
        height: 83px;
        
    }

    .divider {
        margin: 48px auto;
        width: 94.5%;
        text-align: center;
    }

    .divider-line {
        width: 100%;
        margin: 0 auto;
    }

    .divider .calculator-button {
        position: relative;
        left: 0;
        top: -58px;
        width: 65px;
        height: 65px;
    }

    .divider .calculator-button img {
        width: 25px;
    } 

    .years, .months, .days {
        position: relative;
        top: 8px;
        letter-spacing: 0rem;
    }

    .years-results, .months-results, .days-results {
        letter-spacing: 0rem;
        position: relative;
        margin-right: 0.4rem;
    }

    .months {
        top: 1.3rem;
    }

    .days {
        top: 2.3rem;
    }
}

@media (max-width: 330px) {

    .age-calculator {
        height: fit-content;
        border-radius: 20px;
    }

    .date-inputs {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    .date-inputs label {
        width: 90%;
    }

    .divider .calculator-button {
        top: -45px;
        width: 40px;
        height: 40px;
    }

    .divider .calculator-button img {
        width:15px;
    }

    .results {
        font-size: 2rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


